{% load static wagtailuserbar %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
        content="Arnold Nderitu is a software engineering practitioner. He provides startups and enterprises with software development services." />
    <meta name="keyword" content="Arnold, Nderitu, software, engineering, developer, python, node js, javascript" />
    <!--  Title -->
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&amp;display=swap" rel="stylesheet">

    <!-- <link rel="shortcut icon" href="assets/img/favicon-32x32.png" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon-32x32.png" type="image/x-icon" /> -->
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/arnoldnderitu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    <style>
        [data-dsn-grid="move-up"] img,
        [data-dsn-grid="moveUp"] img {
            top: 0% !important;
            height: 100% !important;
        }

        .work-under-header .work-item img {
            object-fit: scale-down !important;
        }

        .work-under-header .work-item .item-info {
            width: 100% !important;
        }
    </style>
</head>

<body class="hamburger-menu dsn-effect-scroll dsn-ajax" data-dsn-mousemove="true">
    {% wagtailuserbar %}
    <div class="preloader">
        <div class="preloader-after"></div>
        <div class="preloader-before"></div>
        <div class="preloader-block">
            <div class="title">Arnold Nderitu</div>
            <div class="percent">0</div>
            <div class="loading">loading...</div>
        </div>
        <div class="preloader-bar">
            <div class="preloader-progress"></div>
        </div>
    </div>

    <!-- Nav Bar -->
    <div class="dsn-nav-bar">
        <div class="site-header">
            <div class="extend-container">
                <div class="inner-header">
                    <div class="main-logo">
                        <a href="index-2.html">
                            <img class="dark-logo" src="assets/img/logo-dark.png" alt="" />
                            <img class="light-logo" src="assets/img/output-onlinepngtools.png" alt="" />
                        </a>
                    </div>
                </div>
                <nav class=" accent-menu main-navigation">
                    <ul class="extend-container">
                        <li class="custom-drop-down">
                            <a href="index.html">Home</a>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class="custom-drop-down">
                            <a href="portfolio.html">Work</a>
                        </li>
                        <li class="custom-drop-down">
                            <a href="blog.html">Blog</a>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-top header-top-hamburger">
            <div class="header-container">
                <!-- <div class="logo main-logo">
                    <a href="index-2.html">
                        <img class="dark-logo" src="assets/img/logo-dark.png" alt="" />
                        <img class="light-logo" src="assets/img/output-onlinepngtools.png" alt="" />
                    </a>
                </div> -->

                <div class="menu-icon" data-dsn="parallax" data-dsn-move="5">
                    <div class="icon-m">
                        <i class="menu-icon-close fas fa-times"></i>
                        <span class="menu-icon__line menu-icon__line-left"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line menu-icon__line-right"></span>
                    </div>

                    <div class="text-menu">
                        <div class="text-button">Menu</div>
                        <div class="text-open">Open</div>
                        <div class="text-close">Close</div>
                    </div>
                </div>

                <div class="nav">
                    <div class="inner">
                        <div class="nav__content">

                        </div>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="inner-content">
                        <address class="v-middle">
                            <span>+254</span>
                            <span>NAIROBI, KENYA</span>
                            <span>00200 - 62611</span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Nav Bar -->

    {% block content %}{% endblock %}

    <!-- cursor -->
    <div class="cursor">

        <div class="cursor-helper cursor-view">
            <span>VIEW</span>
        </div>

        <div class="cursor-helper cursor-close">
            <span>Close</span>
        </div>

        <div class="cursor-helper cursor-link"></div>
    </div>
    <!-- End cursor -->

</body>

{# Global javascript #}
<script type="text/javascript" src="{% static 'js/arnoldnderitu.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/dsn-grid.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}
<!-- </body> -->

</html>