<footer>
    <div class="info">
        <div class="contact-footer">
            <a href="tel:010" class="phone">+254 708 486 068</a>
            <a href="#" class="email">info@arnoldnderitu.io</a>
        </div>
        <div class="copyright-social">
            <p>©
                <script>
                    document.getElementById("year").innerHTML = new Date().getFullYear();
                </script> Arnold Nderitu</p>
            <ul>
                <li><a href="#" target="_blank">KingsChat</a></li>
                <li><a href="#" target="_blank">Yookos</a></li>
                <li><a href="#" target="_blank">Linkedin</a></li>
            </ul>
        </div>
    </div>
</footer>